/* Set the display property of the body element to grid and place the content in the center */
body{
    display: grid;
    place-content: center;
    /* Set the background image of the body element to a gas station and make it cover the whole screen */
    background-image: url(Desert\ Gas\ Station_\ Environment\ Production\ Breakdown.jpg);
    max-width: 100%;
    background-size: cover;
}

/* Add margin and styling to the form element */
form{
    margin-top: 100px;
    border: 2px solid rgba(95, 37, 4, 0.842);
    padding: 70px;
    background-color: rgba(95, 37, 4, 0.842);
}

/* Center the button horizontally */
button{
    display: block;
    margin-right: auto;
    margin-left: auto;
}